# Test results

The results of a completed test can be accessed after selecting the file storage. Their total count is available under the title of each file. A preview will open on the right after selecting and clicking a result. Several result files can also be compacted into a single file, either in the XLSX (Excel 2017+), ODS (Open Document Spreadsheet) or CSV (Comma Separated Value) format.

<figure><img src="../../.gitbook/assets/ei0eh4alme.gif" alt=""><figcaption><p>Browsing the test results and their export into a XLSX (a MS Excel 2017+ format)</p></figcaption></figure>
